<section data-ng-controller="HomeController">

	<!-- Task list and Form Area -->
	<div data-ng-controller="TasksController" class="task-view clearfix">
		<div flip class="task" data-click-toggle="true" >
			<div class='front task_list'  >
				<section  data-ng-init="">
					<div class="page-header">
						<h1>Tasks</h1>
						<button class="btn btn-primary" name="add_task" ng-click="flip()">Add Task</button>
					</div>
					<div class="list-group">
						<h2 class='page-header'>Uncompleted Tasks</h2>
						<a data-ng-repeat="task in tasks | filter:{awarded:false}" class="list-group-item">
							<small class="list-group-item-text">
								Posted on
								<span data-ng-bind="task.created | date:'medium'"></span>
								by
								<span data-ng-bind="task.user.displayName"></span>
							</small>
							<h4 class="list-group-item-heading" data-ng-bind="task.name"></h4>
							<button class="btn btn-primary btn-xs" name="item_detail" ng-click="setCurrentTask(task)">Details</button>
						</a>
						<h2>Completed Tasks</h2>
						<a data-ng-repeat="task in tasks | filter:{awarded:true}" class="list-group-item">
							<small class="list-group-item-text">
								Posted on
								<span data-ng-bind="task.created | date:'medium'"></span>
								by
								<span data-ng-bind="task.user.displayName"></span>
							</small>
							<h4 class="list-group-item-heading" data-ng-bind="task.name"></h4>
							<button class="btn btn-primary btn-xs" name="item_detail" ng-click="setCurrentTask(task)">Details</button>
						</a>
					</div>
					<div class="alert alert-warning text-center" data-ng-hide="!tasks.$resolved || tasks.length">
						No Tasks yet, why don't you add one?
					</div>
				</section>
				
			</div>
			<div class="back task_form" >
				<form class="form-horizontal" data-ng-submit="create()" novalidate>
					<fieldset>
						<div class="form-group">
							<label class="control-label" for="name">Create a Task</label>
							<div class="controls">
								<input type="text" data-ng-model="task.name" id="name" class="form-control" placeholder="Task Name" required>
							</div>

							<div class="controls">
								<input type="text" data-ng-model="task.description" id="description" class="form-control" placeholder="Description" required>
							</div>

							<div class="controls">
								<input type="text" data-ng-model="task.stars" id="reward" class="form-control" placeholder="Reward" required>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary" >
							<button class="btn btn-danger" name="cancel" ng-click="flip()">Cancel</button>
						</div>
						<div data-ng-show="error" class="text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>

		</div>



<!-- Task Detail / Edit Form -->
		<div class="task-detail-reward-view">
			<!-- Task Detail Section -->
			<div class="task-detail-container">
				<div reflip class='task_detail' ng-show="currentTask" >
					<div data-click-toggle="true" >
						<div class="page-header front task-detail">
							<div class="page-header">
								<h1>Details</h1>
							</div>
							<h1 data-ng-bind="currentTask.name"></h1>
							<h4 data-ng-bind="currentTask.description"></h4>
							<h4 data-ng-bind="currentTask.stars"></h4>
							<div class="pull-right" data-ng-show="authentication.user._id == currentTask.user._id">
								<a class="btn btn-warning" ng-click="reflip()" ng-if="!currentTask.awarded" >
									<i class="glyphicon glyphicon-edit">Edit Task</i>
								</a>
								<a class="btn btn-success" data-ng-click="complete(currentTask)" ng-if="!currentTask.awarded">
									<i id="complete"  class="glyphicon glyphicon-check"> Complete</i>
								</a>
							</div>
							<small>
								<em class="text-muted">
									Posted on
									<span data-ng-bind="currentTask.created | date:'mediumDate'"></span>
									by
									<span data-ng-bind="currentTask.user.displayName"></span>
								</em>
							</small>
						</div>
						<div class="back task_edit ">
							<form class="form-horizontal" data-ng-submit="update(currentTask)" novalidate>
								<fieldset>
									<div class="form-group">
										<label class="control-label" for="name">Edit a Task</label>
										<div class="controls">
											<input type="text" ng-model="currentTask.name" id="name" class="form-control" placeholder="Task Name" required>
										</div>

										<div class="controls">
											<input type="text" ng-model="currentTask.description" id="description" class="form-control" placeholder="Description" required>
										</div>

										<div class="controls">
											<input type="text" ng-model="currentTask.stars" id="reward" class="form-control" placeholder="Reward" required>
										</div>
									</div>
									<div class="form-group">
										<input id="submit-edit" type="submit" value="Update" class="btn btn-primary" ng-click="reflip()">
										<button id="submit-edit" class="btn btn-danger" name="cancel" ng-click="reflip()">Cancel</button>
									</div>
									<div data-ng-show="error" class="text-danger">
										<strong data-ng-bind="error"></strong>
									</div>
								</fieldset>
							</form>
						</div>

					</div>

				</div>
			</div>






<!-- Reward Section -->
			<div class="rewards" data-ng-controller="RewardsController">
					<section class="" data-ng-init="find()">
						<div class="page-header clearfix">
							<h1>Rewards</h1>
							<h4>{{user.starCount}}</h4>
						</div>
						<div class="reward-list">
						<div class="list-group">
							<a data-ng-repeat="reward in rewards" class="list-group-item clearfix">
								<small class="list-group-item-text">
									<span data-ng-bind="reward.created | date:'medium'"></span>
									<span data-ng-bind="reward.user.displayName"></span>
								</small>
								<h4 class="list-group-item-heading" data-ng-bind="reward.stars"></h4>
								<button class="btn btn-primary btn-xs pull-right" name="item_detail" ng-click="setCurrentTask(reward)">Details</button>
							</a>
						</div>
						<div class="alert alert-warning text-center" data-ng-hide="!tasks.$resolved || tasks.length">
							Complete a Task, Receive Reward!
						</div>
					</div>
					</section>
				</div>
		</div><!-- This div is keeping the rewards panel pinned to the bottom right  -->


	</section>
